* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 92px;
    background-color: #CF2B2B;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .1);
    z-index: 1;
  }
  
  .header .titulo {
    font-size: 44px;
    font-family: 'Righteous', cursive;
    letter-spacing: -0.012em;
  }
  
  .header .subtitulo {
    font-size: 18px;
  }
  
  .menu {
    margin: 92px auto;
    padding: 20px;
  }
  
  .menu .secao {
    margin-bottom: 12px;
  }
  
  .menu .secao .opcoes {
    overflow-x: scroll;
    width: 100%;
    padding: 10px 0;
  }
  
  .menu .secao > .titulo {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    letter-spacing: -0.018em;
  }
  
  .menu .secao .opcoes {
    display: flex;
  }
  
  .menu .secao .opcoes .opcao {
    width: 172px;
    padding: 18px 14px;
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 0 10px -4px rgba(0, 0, 0, .25);
    margin-right: 16px;
  }
  
  .menu .secao .opcoes .opcao img {
    width: 144px;
    height: 87px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .menu .secao .opcoes .opcao .titulo {
    font-size: 16px;
    font-weight: bold;
    margin: 11px 0 15px;
  }
  
  .menu .secao .opcoes .opcao .descricao {
    font-size: 15px;
    color: #A6A6A6;
    font-weight: 300;
    margin-bottom: 15px;
  }
  
  .menu .secao .opcoes .opcao .fundo {
    display: flex;
    justify-content: space-between;
  }
  
  .menu .secao .opcoes .opcao .preco {
    font-weight: bold;
    font-size: 16px;
  }
  
  .menu .secao .opcoes .opcao .contador {
    opacity: 0;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    width: 47px;
    height: 19px;
  }

  .menu .secao .opcoes .opcao .contador .menos {
    color: #CF2B2B;
  }

  .menu .secao .opcoes .opcao .contador .menos:hover {
    cursor: pointer;
  }

  .menu .secao .opcoes .opcao .contador .mais {
    color: #32B72F;
  }

  .menu .secao .opcoes .opcao .contador .mais:hover {
    cursor: pointer;
  }

  
  .menu .secao .opcoes .opcao.selecionado .contador {
    opacity: 1;
  }  
  
  .menu .secao .opcoes .opcao.selecionado {
    border: 5px solid #32B72F;
    padding: 13px 9px;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 92px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, .1);
  }
  
  .footer .fazer-pedido {
    width: 100%;
    padding: 0 20px;
    color: white;
    background-color: #CBCBCB;
    border: none;
    border-radius: 50px;
    height: 61px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.018em;
  }
  
  .footer .fazer-pedido.ativo {
    background-color: #32B72F;
    font-weight: bold;
  }
  
  .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
  }
  
  .confirmar-pedido {
    background-color: #50D074;
    max-width: 480px;
    width: 100%;
    font-size: 22px;
    color: white;
    padding: 24px;
    padding-bottom: 10px;
    border-radius: 9px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  }
  
  .confirmar-pedido .titulo {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .confirmar-pedido ul li {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
  }
  
  .confirmar-pedido ul li.total {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .confirmar-pedido button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bold;
  }
  
  .confirmar-pedido .confirmar {
    background-color: white;
    color: #50D074;
    font-size: 22px;
    height: 52px;
    border-radius: 100px;
  }
  
  .confirmar-pedido .cancelar {
    color: white;
    background-color: transparent;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .escondido {
    display: none;
  }
  